html,body{
    min-height: 100vh;
}

body{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 30vh 15vh 30vh 15vh 8vh;
    gap: 0px 0px;
    grid-template-areas:
      ". titre ."
      "tips tips tips"
      ". form ."
      ". . . "
      "footer footer footer";

    h1{grid-area: titre;}
    div#tips{grid-area: tips;}
    form{grid-area: form;}
    footer{grid-area: footer;}

}

form{
    display: grid;
    grid-template-columns: 4fr 0.5rem 4fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    " text text text "
    "mdp mdp mdp"
    "register . connexion";

    input[type="text"]{
        grid-area: text;
        height: 2rem;
    }

    input[type="password"]{
        grid-area: mdp;
        height: 2rem;
    }    

    input[type="submit"].connexion{
        grid-area: connexion;
        //height: 3rem;
    }

    a{
        grid-area: register;
    }
}

footer,h1{
    margin-top: auto;
}

@media screen and (min-width: 0px) and (max-width: 640px) {
    body{
        grid-template-columns: 1fr 10fr 1fr;
    }
}

@media screen and (min-width: 1000px){
    body{
        grid-template-columns: 1fr 2fr 1fr;
    }
}

@media screen and (max-height: 410px){
    body{
        grid-template-rows: 35vh 20vh 30vh 5vh 30vh;
    }
}

@media screen and (max-height: 320px){
    body{
        grid-template-rows: auto auto auto 0px auto ;
    }
}

div#tips{
    margin: auto;
    
    &.on{
        animation:fadeIn 3s linear;
    }
    &.off{
        animation:fadeIn 3s linear reverse;
    }
    &.invisible{
        opacity: 0;
    }
}