@import "libs/colors.scss";

html,body{
    min-height: 100vh;

    text-align: center;
}

button#user{
    position: absolute;
    right: 10px;
    top: 0px;
}

div.chat{
    position: absolute;
    bottom: 10px;
    left: 10px;

    height: 45vh;
    width: 30vw;
    padding: .5rem;
    border-radius: 1rem;
    background-color: lighten($black,5%);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  1fr 12fr 4fr;
    gap: 0px 0px;
    grid-template-areas:
      "titre"
      "chat"
      "form";

    h6{ grid-area: titre;}

    ul#chat{
        overflow-y: scroll;
        
        padding: .5rem;
        text-align: start;
    }

    form{ 
        grid-area: form;

        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;

        height: 100%;

        input,button{
            height: 2rem;
            font-size: 1rem;
            line-height: 100%;

        }
    }
}

@media screen and (max-width: 660px){
    div.chat{
        height: 30vh;
        width: 90vw;
    }
}
th{
    color: inherit;
    padding: auto;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

table{
    background-color: lighten($black,5%);
    border-radius: 5px;
    width: 40vw;
    height: 60vh;

    position: absolute;
    right: 2vw;
    bottom:2vw;
    z-index: -1;
    //transform: translateY(calc(-62vh/2));

    &>tr:nth-child(2n){
        background-color: lighten($black,6%);
    }

    &>tr:first-child{
        background-color: lighten($black,3%);
        font-size: 2rem;
        color: $primary;
    }

    & tr th:first-child::first-letter{
        color: $primary;
    }
}

p{
    text-align: center;
    background-color: transparentize($black, .5);
}

#message{
    text-align: left;
}

footer{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}