@import "libs/reset.scss";
//fin des resets

$black:rgba(66, 73, 73);
$white: rgb(249, 249, 249);
$light-grey:rgb(229, 231, 233);
$green: rgb(94,133,105);

$equipe1:rgb(52, 152, 219);
$equipe2: rgb(231,76,60);

$primary: rgb(72,201,176);


@font-face{
	font-family: "Anton";
	src: url(../FONT/Anton-Regular.ttf);
}

@font-face{
	font-family: "Roboto";
	src: url(../FONT/RobotoCondensed-Regular.ttf);
}

%shadow{
	box-shadow: (1px 5px 5px 0px lighten($black, 8));
}

::selection{
    background-color: transparentize($white,0.2);
    color: $black;
}

*{
    color: $white;
	font-family: "Roboto",Helvetica,Arial,"Helvetica Neue",sans-serif;
}

html{
  background-color: $black;
  text-align: center;  
}

h1,h2{
    font-family: "Anton";
    text-decoration: underline;
    text-decoration-color: $primary;
}

input,button,h3,h4,h5,h6,p{
    font-family: "Roboto";
    font-weight: bold;
}

h1{
    font-size: 6rem;
    
    &::first-letter{
    color: $primary;
    }
}

h2{
    font-size: 4rem;
}

h3{
    text-decoration: underline;
    text-decoration-color: $primary;
}

@for $i from 3 through 6{
    h#{$i}{
        font-size: 7rem - $i*1rem;
    }
}

p{
    font-size: 2rem;
}

button,input[type="submit"]{
    @extend %shadow;

    padding: 0.5rem 2rem;

    font-size: 1.5rem;
    border:0px;
    border-radius: 3rem;

    &:hover{
        
    }

    &:active{

    }
}

.bg-primary{
    background-color: $primary;
}