//@import "libs/reset.scss";
//fin des resets

$black:rgba(66, 73, 73);
$white: rgb(249, 249, 249);
$light-grey:rgb(229, 231, 233);
$green: rgb(94,133,105);

$primary:rgb(52, 152, 219);
$secondary: rgb(231,76,60);