@import "libs/colors.scss";

body{
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    //background-color: #8FCE7D;
    justify-content: center;
}

#plateau{
    margin: auto;
    padding: 5px;
    background-image: url("../img/bg.jpg");
    background-size: 100%;

    //width: calc(100vh - 10px);
    //height: calc(100vh - 10px);

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 2%;
}

#plateau>img.pion{
    width: 100%;
    height: 100%;  
}

#redPionList,#bluePionList{
    display: flex;
    justify-content: space-around;
    div{
        background-size: 100%;
        background-repeat: round;
        
        font-size: 130%;
        -webkit-text-stroke-width: 0.8px;
        -webkit-text-stroke-color: $black;
        
        &[select="true"]{
            background-color: transparentize($white,0.4);
            border-radius: 25%;
        }
    }  

    &#bluePionList{
        background-color: $playerBlue;
    }
    &#redPionList{
        background-color: $playerRed;
    }
    &.inRow{
        width: calc(100vw-12px);
        flex-direction: row; 
        div{
            width: 8vw;
            height: 8vw;
            line-height: 8vw;
        }        
    }
    &.inColumn{
        height: 100vh;
        padding: 0vh 1vh;
        flex-direction: column; 
        div{
            width: 8vh;
            height: 8vh;
            line-height: 8vh;
        }
    }   
}


button, #currentPlayer{
    order: 1;
    flex: 1 0 100%;
}

#currentPlayer{
    font-size: 1.5rem;
}

.c-dialog {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    padding: 2.4rem;
    overflow-y: hidden;
    background-color: rgba(black, .75);
    transition: .2s;
  }
  
  .c-dialog__box {
    flex: 1;
    max-width: 48rem;
    margin: auto;
    padding: 2.4rem;
    background-color: $black;
  }
  
  #dialog-desc {
    text-align: center;
  }
  
  .c-dialog[aria-hidden="true"] {
    visibility: hidden;
    opacity: 0;
  }