@import "libs/colors.scss";

body{
    overflow-x: hidden;
    display: flex;
    //background-color: #8FCE7D;
    background: linear-gradient(90deg, $playerBlue 0%, $playerBlue 50%, $playerRed 50%, $playerRed 100%);
    justify-content: center;
}

#plateau{
    margin: auto;
    padding: 5px;
    background-image: url("../img/bg.jpg");
    background-size: 100%;

    //width: calc(100vh - 10px);
    //height: calc(100vh - 10px);

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 2%;
}

#plateau>img.pion{
    width: 100%;
    height: 100%;  
}

#redPionList,#bluePionList{
    display: flex;
    justify-content: space-around;

    &#bluePionList{
        background-color: $playerBlue;
    }
    &#redPionList{
        background-color: $playerRed;
    }
    &.inRow{
        width: calc(100vw-12px);
        flex-direction: row; 
        div{
            width: 8vw;
            height: 8vw;
            line-height: 8vw;
        }        
    }
    &.inColumn{
        height: 100vh;
        padding: 0vh 1vh;
        flex-direction: column; 
        div{
            width: 8vh;
            height: 8vh;
            line-height: 8vh;
        }
    }
    div{
        font-size: 180%;
        background-size: 100%;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $black;
    }  
   
}